<!DOCTYPE html>
<html>
    <head>
        <title>Gameazon Shopping</title>
    </head>
    <body>
        <header><img src="/image/logo.png" alt="Gameazon Logo"></header>
        {{{body}}}
    </body>
</html>